
<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 homepage_content">
    <h2>About</h2>
    <hr>
    <p class="about">To pick up the bundle for this <a href="#">course</a>  (which includes an ebook version, offline hd videos, code, photoshop &amp; illustrator files and my wireframe kits) visit http://mackenziechild.me/courses</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <h3> <a href="#">The DO list</a> </h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">How do I learn "X"?</p>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">Friday April 10th</p>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">How do I learn "X"?</p>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">Friday April 10th</p>
  </div>

</div>
