<h1 id="page_title">Stuff I've Written</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="data">Friday April 10th</p>
    <h2><a href="#">The DO List</a></h2>
    <hr>
  </div>

  <div class="post">
    <p class="data">Friday April 10th</p>
    <h2><a href="#">The DO List</a></h2>
    <hr>
  </div>

  <div class="post">
    <p class="data">Friday April 10th</p>
    <h2><a href="#">The DO List</a></h2>
    <hr>
  </div>

  <div class="paginations">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#" rel="next">2</a>
    <a href="#" class="next_page">Next</a>
  </div>
</div>
